@import "tailwindcss";

/* Base default styles */
@layer base {
  *,
  *::after,
  *::before {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  html,
  body {
    background-color: var(--color-zinc-900);
    color: var(--color-zinc-200);
    overflow-x: hidden;
  }

  button,
  a {
    cursor: pointer;
  }
}

/*
 === Component styles ===

 Use the components layer for any more complicated classes
 you want to add to your project that you'd still like to be
 able to override with utility classes.
*/
@layer components {
  .primary-btn {
    padding-block: calc(var(--spacing) * 2) /* --spacing = 4px */;
    padding-inline: calc(var(--spacing) * 6);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border-radius: var(--radius-md);
    background-color: var(--color-indigo-600);
    transition: all 0.3s ease-in-out;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: var(--color-indigo-500);
    }
    &:active {
      background-color: var(--color-indigo-400);
    }
  }

  .secondary-btn {
    padding-block: calc(var(--spacing) * 2) /* --spacing = 4px */;
    padding-inline: calc(var(--spacing) * 6);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border-radius: var(--radius-md);
    background-color: transparent;
    border: 2px solid var(--color-indigo-600);
    color: var(--color-indigo-600);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;

    &:hover {
      border-color: var(--color-indigo-500);
      color: var(--color-indigo-500);
    }

    &:active {
      border-color: var(--color-indigo-400);
      color: var(--color-indigo-400);
    }
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .icon-btn {
    padding: calc(var(--spacing) * 2);
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: var(--color-zinc-200);
      color: var(--color-zinc-900);
    }
  }
}
